.calendar .header {
    float: left;
    width: 100%;
    font-size: 2em;
    padding: 0 30px;
    box-sizing: border-box;
    background: rgb(255, 98, 98);
    color: #fff;
    font-weight: 100;
    line-height: 100px;
}
.calendar > div.header > span {
    float: left;
    width: 80%;
    text-align: center;
}
.calendar > div.header > i {
    float: left;
    width: 10%;
    text-align: right;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 100px;
}
.calendar > div.header > i.fa-angle-left {
    text-align: left;
}
.calendar .day {
    float: left;
    height: 90px;
    line-height: 90px;
    display: inline-block;
    width: 14.2%;
    text-align: center;
    position: relative;
    font-weight: 100;
        border-right: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
}
.calendar .week .day:last-child {
    border-right: none;
}
.calendar .names .day {
    font-weight: bold;
}
.calendar .week .today {
                background:#E3F2FF;
            }
.calendar .week .selected {
    
            }
            .fields {
            /*overflow: visible!important;*/    
            }
            .fields {
    width: 100%;
    height: 80px;
    padding: 10px 0 10px;
    background: #FFF;
    margin: 0 auto;
    animation: open .1s ease-in-out;
}
.week {
    display: table;
    clear: both;
    width: 100%;
}
.left-button {
    float: left;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
    margin: 0 10px 10px;
    border-radius: 50%;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
    position: relative;
    z-index: 999;
    overflow: hidden;
    color: #4b4b4b;
}
.left-button>i {
    font-size: 1.5em;
    line-height: 50px;
}
.left-button i {
    display: inline-block;
    font-size: 16px;
}
.field {
    float: left;
    width: 60%;
    height: 80%;
    padding: 0;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: #4b4b4b;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    border: none;
    outline: none;
    padding: 5px;
    resize: none;
}

.events-number {
    background-color: #00bcd4;
    color: #fff;
    border-radius: 20px;
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    position: absolute;
    bottom: 5px;
    left: 5px;
}