.open Open Modal
.modal
  .form
    form
      label(for='name' required) Full Name
      input#name(type='text')
      label(for='email' required) Email Address
      input#email(type='email')
      label(for='pass') Password
      input#pass(type='password' required)
      button(type='button') Sign Up
  .invite
    h3 Register now for our award-winning service and get a 14 day free trial.
    .nope No thanks, I dont like saving money
    .close(title='close')